* {
   margin: 0px;
   padding: 0px;
}

body {
   font-family: 'Times New Roman', Times, serif;
   background-color: #a5dbff;
   margin-left: 25px;
   margin-right: 150px;
   padding-top: 50px;
}

body h1, h2, h3, h4 {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body p {
font-family:Georgia, 'Times New Roman', Times, serif
}

body a {
   text-transform: uppercase;
   text-decoration: none;
   color:black;

}

body a:hover {
   text-decoration: underline;
   color: rgb(167, 76, 76);
   font-weight: bold;
   
}

#aprese { 
margin-bottom: 20px;
padding-top: 60px;
text-align: center;
}

#sobre {
margin: 20px;
padding-top: 20px
}

#habil {
margin-top: 20px;
padding-top: 20px;
}

#habil ul {
   list-style-type: none;
}

header {
padding: 20px 0px;
position: fixed;
width: 100%;
background-color: red;
}
.contatos {
   margin-top: 20px;
   padding-top: 5px;
}

footer {
background-color:#BBDDFF;
}
.icone {
   width: 60px;
   height: 50px;
   fill: red;
}

footer ul {
   display: flex;
   justify-content: space-around;
   list-style-type: none;
}
