* {
   margin: 0px;
   padding: 0px;

}

body {
   font-family: Georgia, 'Times New Roman', Times, serif;
   background-image: url("assets/pexels-frank-cone-140140-3214110.jpg");
   background-size: cover;
   background-repeat: repeat;
   animation: moverFundo 60s linear infinite;
   margin-left: 15px;
   margin-right: 10px;
   padding-top: 15px;
   color: rgba(255, 255, 255, 0.673);
}

@keyframes moverFundo {
   from { background-position: 0 0; }
   to { background-position: 500px 500px; }
   }


body h1, h2, h3, h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

body p {
font-family: Georgia, 'Times New Roman', Times, serif;
}

body a {
   text-transform: uppercase;
   text-decoration: none;
   color: rgba(222, 18, 42, 0.571);

}

body a:hover {
   text-decoration: underline;
   color: rgba(188, 42, 42, 0.575);
   font-weight: bold;
}

#aprese { 
    margin-bottom: 15px;
    padding-top: 80px;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: flex-start; 
    gap: 30px;
}

#sobre {
margin: 20px;
padding-top: 20px;
text-align: center;
}

#habil {
margin-top: 20px;
padding-top: 20px;
text-align: center;
}

#habil ul {
   list-style-type: none;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
padding: 20px 20px;
position: absolute;
width: 100%;
background-color: rgba(222, 18, 42, 0);
}
.contatos {
   margin-top: 10px;
   padding-top: 5px;
   text-align: center;
   color: #ffffff
   
}

footer {
background-color:(12, 18, 181, 0.305);
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}
.icone {
   width: 60px;
   height: 50px;
   fill: rgba(222, 18, 42, 0.571);
}

footer ul {
   display: flex;
   justify-content: space-around;
   list-style-type: none;
}

.container {
   display: flex;
   gap: 80px 40px;
   height: auto;
   justify-content: center;
   
   
}

.item{
   width: 500px;
   height: auto;
   background-color: rgba(0, 38, 252, 0);
   box-sizing: border-box;
}

@keyframes flutuar {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.contatos a { 
  display: inline-block;
  animation: flutuar 3s ease-in-out infinite;
  color:#ffffff
}
